<h1>{{title | uppercase}} </h1>

<div class="grid">
  <div class="grid_item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur nam nostrum sint animi rem laudantium odit explicabo consequatur aliquam debitis iure mollitia nisi aliquid maxime cum, veritatis expedita, iusto harum.</div>
  <div class="grid_item">Lorem ipsum dolor sit amet.</div>
  <div class="grid_item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam accusantium quod molestias ad animi ea consectetur qui optio tempora rerum.</div>
  <div class="grid_item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore aliquid ad sed quia, deleniti dolores expedita nesciunt, iusto odio obcaecati soluta, quis alias similique ratione quae consequuntur labore totam!
  Labore maxime dicta et, nam iste quia quis fugit nulla expedita reiciendis suscipit excepturi nisi eos ullam tempore placeat corrupti totam eveniet illo. Et sunt nulla assumenda culpa deserunt temporibus!
  Expedita odit dicta autem dolore consequatur alias exercitationem, incidunt nesciunt magni tempora ipsam eos nihil adipisci, nostrum quaerat suscipit iusto nobis quasi? Quae repellat similique rerum quasi nulla minus dolores.</div>
  <div class="grid_item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime quae vero consectetur animi. Asperiores dolorum fugiat placeat eos rerum eligendi, maiores quis laboriosam adipisci vero sed ullam totam soluta.</div>
  <div class="grid_item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias debitis harum necessitatibus et voluptatem! Fugit, consequatur? Distinctio maxime incidunt ex, eaque est quis? Ipsam praesentium omnis repellat quis nesciunt suscipit?
  Reprehenderit nemo deleniti officiis sint labore, quasi natus earum dolores tenetur illo possimus commodi alias aperiam qui consectetur in corrupti nulla ipsum exercitationem similique maiores adipisci cum. Molestiae, modi ipsum.</div>
</div>

