/* You can add global styles to this file, and also import other style files */
:root{
    --fondo_de_pagina: rgb(70, 46, 11);
    --fondo_de_pagina_alt: rgb(88, 56, 8);
    --fuentes-color: rgb(240, 243, 245);
    --tertiary-color: #1a1a1a;
    --font-size: 18px;

}
body{
    background-color: var(--fondo_de_pagina);
}
.btn{
    width: fit-content;
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: outset;
    border-radius: 5px;
    padding: 10px;

}
.btn:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px;   
}

.grid_item{
    border: solid;
    border-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary-color);   
}

.grid_item:hover{
    background-color: var(--fondo_de_pagina);
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
