<mat-toolbar class="barra">
  <span>
    <img src="../../../assets/imgs/logo-mini-CB.png" alt="logo-mini-CB">
  </span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Inicio</button>
  <button mat-button routerLink="/products">Productos</button>
  <button mat-button routerLink="/contacto">Contacto</button>
</mat-toolbar>

<div class="row mt-1">
  <div class="col-lg-2 col-md-2 col-sm-0">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <button mat-button routerLink="/">Inicio</button>
        <button mat-button routerLink="/products">Productos</button>
        <button mat-button routerLink="/contacto">Contacto</button>

        <div class="example-sidenav-content" *ngIf="drawer.opened">
          <button type="button" mat-button (click)="drawer.toggle()">
            <span class="material-icons" 
              >chevron_left</span
            >
          </button>
        </div>
      </mat-drawer>
      
      <div class="example-sidenav-content" *ngIf="!drawer.opened">
        <button type="button" mat-button (click)="drawer.toggle()">
          <span class="material-icons" 
            >chevron_right</span
          >
        </button>
      </div>

     
    </mat-drawer-container>
  </div>
  
  <div class="col-lg-10 col-md-10 col-sm-12">
    <router-outlet></router-outlet>
  </div>

</div>
